@import "tailwindcss";

:root {
  --color-principal: rgb(77, 177, 187);
  --color-principal-hover: rgb(37, 148, 158);
  --color-negro: #000000;
  --color-blanco: #ffffff;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal > div {
  background: white;
  padding: 20px;
  pointer-events: auto;
}


.input {
  @apply w-full mb-3 p-2 border rounded;
}